<div class="container mt-5">
    <h2>ãƒ­ã‚°ã‚¤ãƒ³</h2>
    <%= render 'layouts/error', model: @data %>
    <%= form_for @data, url: {action: :login} do |f| %>
        <div class="mb-3">
            <%= f.label :email,class: 'form-label' %>
            <%=  f.text_field :email, placeholder: 'E-mail',required: true,class: 'form-control' %>
        </div>
        <div class="mb-3">
            <%= f.label :password,class: 'form-label' %>
            <%=  f.password_field :password, placeholder: 'Password',required: true,class: 'form-control' %>
        </div>
        <div class="mt-3" style="margin-top: 20px;">
            <%= submit_tag "ãƒ­ã‚°ã‚¤ãƒ³",class: "btn btn-primary" %>
        </div>
    <% end %> 
    <div class="mt-3">
      <%= link_to "æ–°è¦ç™»éŒ²ã¯ðŸ’", admin_new_path, class: "mt-10" %>
    </div>
</div>