<%= render partial: 'layouts/flash_message' %>
<div class="container mt-5">
    <h2>商品一覧</h2>

    <div class="item-container">
      <% @items.each do |it| %>
        <a href="<%= edit_item_path(it[:id]) %>" class="card item-card" style="width: 18rem;">
          <img src="<%= it[:image_path01] %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= it[:name] %></h5>
            <%= form_with url: delete_item_path(it[:id]), method: :post, data: { turbo_confirm: "本当に削除しますか？" }, local: true, class: 'delete-form' do %>
              <%= submit_tag "削除", class: 'btn btn-secondary delete-button' %>
            <% end %>
          </div>
        </a>
      <% end %>
    </div>
    <%= paginate @items, theme: 'twitter-bootstrap-4' %>
</div>
